
body{
   margin: 300px;
    
}

img{
    width: 100px;
    height: 100px;
    padding-left: 50px;

}

a{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif ;
}

p{
    font-family:   Arial, sans-serif;
}



h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

button{
    padding-left: 70px;
    padding-right: 70px;
    background-color:aquamarine;
    font-style: color:white;
    
}